# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.production

!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/
.nyc_output/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

# Prisma
prisma/migrations/
!prisma/migrations/.gitkeep

# Misc
*.tsbuildinfo
.cache/


/src/generated/prisma
